/* CSS */

.Pizza {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .Pizza {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .Menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .Pizza {
    width: calc(33% - 20px);
  }
}
